.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.invisible {
  visibility: hidden;
}
@media only screen and (min-width: 35em) {
  
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
b,
strong {
  font-weight: bold;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
svg:not(:root) {
  overflow: hidden;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.34);
  text-shadow: none;
}
::selection {
  background: rgba(0, 0, 0, 0.34);
  text-shadow: none;
}
html {
  height: 100%;
}
body {
  background-color: #080808;
  height: 100%;
  margin: 0;
  font-family: "SourceSans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #cccccc;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
a {
  color: #fefefe;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #d45555;
  transition-duration: .15s;
}
h1 {
  font-size: 4em;
  font-family: "Museo", serif;
  font-weight: 100;
  line-height: 1;
}
h2 {
  color: #fefefe;
  font-weight: 200;
  font-size: 2.8em;
  line-height: 1em;
  margin: .5em 0;
}
strong {
  font-weight: 300;
  color: #eee;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(34px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(34px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@media (min-width: 1200px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  .about {
    margin: 13%;
  }
  .photos {
    width: 80%;
    margin: 0 10%;
    padding-bottom: 80%;
  }
  .bio {
    width: 100%;
  }
  .bio h2 {
    margin: 0;
  }
  .services {
    margin: 13%;
  }
  .serv1,
  .serv2 {
    margin: 13% 0;
  }
  .detox,
  .clean {
    width: 100%;
  }
  .detox a,
  .clean a {
    display: block;
    margin: 8% 0;
    padding: 1.5em 2em;
  }
  .ico {
    width: 60%;
    margin: 8% 20%;
  }
}
@media (max-width: 767px) {
  .about {
    margin: 13%;
  }
  .photos {
    width: 80%;
    margin: 0 10%;
    padding-bottom: 80%;
  }
  .bio {
    width: 100%;
  }
  .bio h2 {
    margin: 0;
  }
  .services {
    margin: 13%;
  }
  .serv1,
  .serv2 {
    margin: 13% 0;
  }
  .detox,
  .clean {
    width: 100%;
  }
  .detox a,
  .clean a {
    display: block;
    margin: 8% 0;
    padding: 1.5em 2em;
  }
  .ico {
    width: 50%;
    margin: 5% 25%;
  }
}
@media (max-width: 480px) {
  .about {
    margin: 8%;
  }
  .services {
    margin: 8%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
}
@media only screen and (min-width: 1824px) {
  
}
@media only screen and (min-width: 1224px) {
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  
}
@media only screen and (min-width: 321px) {
  
}
@media only screen and (max-width: 320px) {
  
}
.about {
  display: table;
  margin: 13%;
  min-height: 600px;
}
.photos {
  position: relative;
  width: 40%;
  float: left;
  padding-bottom: 40%;
}
.portrait .photo {
  background-image: url('../assets/less/pages/../../../../img/port.jpg');
  z-index: 4;
}
.portrait:before {
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.55), 0 -1px 0 #cccccc, -1px 0 0 #cccccc;
  top: 1px;
  -webkit-transform: rotate3d('0, 0, 1, -2deg');
  transform: rotate3d('0, 0, 1, -2deg');
  z-index: 1;
}
.portrait:after {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34), 0 -1px 0 #cccccc, -1px 0 0 #cccccc;
  z-index: 1;
}
.landscape {
  top: 1em;
  -webkit-transform: rotate3d('0, 0, 1, 70deg');
  transform: rotate3d('0, 0, 1, 70deg');
}
.landscape .photo {
  background-image: url("../assets/less/pages/../../../../img/land.jpg");
  z-index: 2;
}
.landscape:before {
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.55), 0 -1px #cccccc, -1px 0 0 #cccccc;
  top: 1px;
  -webkit-transform: rotate3d('0, 0, 1, -2deg');
  transform: rotate3d('0, 0, 1, -2deg');
  z-index: 1;
}
.landscape:after {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34), 0 -1px #cccccc, 0 1px 0 #cccccc;
  z-index: 1;
}
.portrait,
.landscape {
  position: absolute;
  width: 75%;
  padding-bottom: 100%;
}
.portrait:before,
.landscape:before,
.portrait:after,
.landscape:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefefe;
  margin: 0 auto;
  border-radius: 4% / 3%;
}
.portrait .photo,
.landscape .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 93% 95%;
  background-position: center;
}
.portrait .folds,
.landscape .folds {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.34) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0) 34%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0) 34%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.21) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0.21) 100%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0.21) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 34%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 34%);
  background-size: 50.25% 50%, 50% 50%, 50% 50.25%, 50.25% 50.25%,
                       50.25% 50%, 50% 50%, 50% 50.25%, 50.25% 50.25%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%,
                           0 0, 100% 0, 100% 100%, 0 100%;
  background-repeat: no-repeat;
}
.bio {
  float: right;
  width: 60%;
}
.wrapper {
  overflow: hidden;
  background: url('../assets/less/pages/../../../../img/bkg.svg');
}
.intro {
  background: url('../assets/less/pages/../../../../img/bkg.svg');
  height: 100vh;
}
.opening {
  background-image: url('../assets/less/pages/../../../../img/bkg-sm.png');
  overflow: hidden;
  position: relative;
  height: 100vh;
  -webkit-mask-image: url('../assets/less/pages/../../../../img/rip.svg');
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-position: 0 100%;
}
.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 200%;
  margin-left: -50%;
  background-image: linear-gradient(to bottom, rgba(144, 21, 5, 0), rgba(144, 21, 5, 0.21));
}
.logo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../assets/less/pages/../../../../img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 377px;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  -webkit-animation-delay: 600ms;
}
.mission {
  margin: 0 13%;
  padding: 21% 0;
}
.about {
  display: table;
  margin: 13%;
  min-height: 600px;
}
.photos {
  position: relative;
  width: 40%;
  float: left;
  padding-bottom: 40%;
}
.portrait .photo {
  background-image: url('../assets/less/pages/../../../../img/port.jpg');
  z-index: 4;
}
.portrait:before {
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.55), 0 -1px 0 #cccccc, -1px 0 0 #cccccc;
  top: 1px;
  -webkit-transform: rotate3d('0, 0, 1, -2deg');
  transform: rotate3d('0, 0, 1, -2deg');
  z-index: 1;
}
.portrait:after {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34), 0 -1px 0 #cccccc, -1px 0 0 #cccccc;
  z-index: 1;
}
.landscape {
  top: 1em;
  -webkit-transform: rotate3d('0, 0, 1, 70deg');
  transform: rotate3d('0, 0, 1, 70deg');
}
.landscape .photo {
  background-image: url('../assets/less/pages/../../../../img/land.jpg');
  z-index: 2;
}
.landscape:before {
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.55), 0 -1px #cccccc, -1px 0 0 #cccccc;
  top: 1px;
  -webkit-transform: rotate3d('0, 0, 1, -2deg');
  transform: rotate3d('0, 0, 1, -2deg');
  z-index: 1;
}
.landscape:after {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34), 0 -1px #cccccc, 0 1px 0 #cccccc;
  z-index: 1;
}
.portrait,
.landscape {
  position: absolute;
  width: 75%;
  padding-bottom: 100%;
}
.portrait:before,
.landscape:before,
.portrait:after,
.landscape:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefefe;
  margin: 0 auto;
  border-radius: 4% / 3%;
}
.portrait .photo,
.landscape .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 93% 95%;
  background-position: center;
}
.portrait .folds,
.landscape .folds {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.34) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0) 34%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0) 34%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.21) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0.21) 100%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0.21) 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 34%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 34%);
  background-size: 50.25% 50%, 50% 50%, 50% 50.25%, 50.25% 50.25%,
                       50.25% 50%, 50% 50%, 50% 50.25%, 50.25% 50.25%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%,
                           0 0, 100% 0, 100% 100%, 0 100%;
  background-repeat: no-repeat;
}
.bio {
  float: right;
  width: 60%;
}
.services {
  display: table;
  margin: 13%;
  min-height: 600px;
}
.services a {
  display: inline-block;
  text-align: center;
  padding: 1em 2em;
  border: 1px solid #fefefe;
  border-radius: 4px;
  margin-top: 1em;
  text-shadow: none;
  -webkit-transition: 340ms color, 340ms background, 210ms margin, 210ms -webkit-transform;
}
.services a:hover {
  background: #fefefe;
  color: #333;
  -webkit-transition: 340ms color, 340ms background, 210ms margin, 210ms -webkit-transform;
}
.services a:active,
.services a:focus {
  color: #333;
  background: #eaeaea;
  box-shadow: 0 2px 2px #c8c8c8 inset;
  -webkit-transition: 340ms color, 340ms background, 210ms margin, 210ms -webkit-transform;
  -webkit-transform: translate(0, 1px);
}
.serv1,
.serv2 {
  margin: 21% 0;
  display: table;
}
.ico {
  float: left;
  top: 0;
  width: 34%;
  height: 100%;
  position: relative;
}
.serv1 .ico {
  float: right;
}
.clean {
  width: 55%;
  float: right;
}
.detox {
  width: 55%;
  float: left;
}
.glass {
  width: 100%;
  padding-bottom: 100%;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #eaeaea 100%);
  -webkit-mask: url('../assets/less/pages/../../../../img/sprite.svg');
  -webkit-mask-size: 200%;
  -webkit-mask-position: 100% 0;
}
.juice {
  width: 100%;
  padding-bottom: 100%;
  background-image: -webkit-linear-gradient(top, #ee8844 0%, #dc6414 100%);
  -webkit-mask: url('../assets/less/pages/../../../../img/sprite.svg');
  -webkit-mask-size: 200%;
  -webkit-mask-position: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform-origin-y: 91%;
}
.cal {
  width: 100%;
  padding-bottom: 100%;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #eaeaea 100%);
  -webkit-mask: url('../assets/less/pages/../../../../img/sprite.svg');
  -webkit-mask-size: 200%;
  -webkit-mask-position: 0 0;
}
.day {
  width: 100%;
  padding-bottom: 100%;
  background-image: -webkit-linear-gradient(top, #62c462 0%, #3ea63e 100%);
  -webkit-mask: url('../assets/less/pages/../../../../img/sprite.svg');
  -webkit-mask-size: 200%;
  -webkit-mask-position: 0 100%;
  position: absolute;
  top: 0;
}
.testimonials {
  padding: 0 13%;
  margin-bottom: 34%;
  color: #bababe;
  position: relative;
}
.testimonials:before,
.testimonials:after {
  display: table;
  line-height: 0;
  content: "";
}
.cbp-qtrotator {
  position: relative;
  margin: 21% auto;
  width: 100%;
}
.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  min-height: 200px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  padding: 5em 0 3em;
  top: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
}
.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative;
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}
.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}
.cbp-qtprogress {
  position: absolute;
  background: #47a3da;
  height: 1px;
  width: 0%;
  top: 0;
  z-index: 1000;
}
.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0;
}
.cbp-qtrotator blockquote p {
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 200;
  margin: .2em 0 .6em;
}
.cbp-qtrotator blockquote footer {
  font-size: .9em;
  margin-top: 5em;
  color: white;
}
.cbp-qtrotator blockquote footer:before {
  content: '― ';
}
.cbp-qtrotator .cbp-qtcontent img {
  float: left;
  margin-left: 3em;
}
.contact {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.mapCurtain {
  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-mask: url('../assets/less/pages/../../../../img/rip.svg') repeat-x;
  -webkit-mask-position-y: -100%;
}
#googleMap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.contact-options {
  width: 560px;
  position: relative;
  margin: 0 auto;
  top: 13%;
}
.mailbox {
  display: inline-block;
  width: 500px;
  background: #fefefe;
  padding: 30px 0;
  float: left;
  border-radius: 8px 0 8px 8px;
  box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.15), 2px 1px 2px rgba(0, 0, 0, 0.15), 0 0 25px rgba(0, 0, 0, 0.15);
}
.mailbox form {
  margin: 0 0 20px;
}
.mailbox fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.mailbox legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 64px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.mailbox input,
.mailbox textarea {
  margin: 0;
  font-weight: 300;
  font-family: "SourceSans", sans-serif;
  width: 96%;
  min-height: 32px;
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  background-color: #fefefe;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-radius: 4px;
}
.mailbox textarea {
  margin: 0;
  overflow: auto;
  font-weight: 300;
  font-family: "SourceSans", sans-serif;
  height: auto;
}
.mailbox button {
  margin: 0;
  -webkit-appearance: button;
  font-weight: 300;
  font-family: "SourceSans", sans-serif;
  min-height: 32px;
  margin-top: 30px;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 11px 19px;
  padding-right: 0;
  padding-left: 0;
  font-size: 17.5px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fefefe;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.mailbox button:hover {
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
  color: #fefefe;
  background-color: #51a351;
}
.mailbox button:active {
  background-image: none;
  outline: 0;
  color: #fefefe;
  background-color: #51a351;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.mailbox button:focus {
  outline-offset: -2px;
}
.social {
  margin-bottom: -5px;
  position: relative;
  width: auto;
  height: 50px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
}
.social i {
  opacity: .5;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.44);
  font-size: 19px;
  text-decoration: none;
  transition: 0.08s margin-left;
}
.social:hover i {
  opacity: 1;
  color: #eee;
  text-shadow: none;
  transition: 0.18s margin-left;
}
.social:active {
  background-image: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
}
.phone-btn {
  background-color: #444;
}
.phone-btn i {
  color: #111;
  margin: 18px;
  margin-left: 5px;
}
.phone-btn:hover i {
  margin-left: 20px;
  margin-right: 20px;
}
.mail-btn {
  z-index: 1;
  background-color: #00ab5c;
}
.mail-btn i {
  font-size: 18px;
  color: #006f00;
  margin: 17px;
  margin-left: 3px;
  margin-right: 20px;
}
.mail-btn:hover i {
  margin-left: 20px;
  margin-right: 20px;
}
.pin-btn {
  z-index: 2;
  background-color: #e22;
}
.pin-btn i {
  color: #a22;
  margin: 17px;
  margin-left: 3px;
  margin-right: 20px;
}
.pin-btn:hover i {
  margin-left: 20px;
  margin-right: 21px;
}
.twitter-btn {
  z-index: 3;
  background-color: #4099ff;
}
.twitter-btn i {
  color: #2c58bc;
  margin: 17px;
  margin-left: 3px;
  margin-right: 20px;
}
.twitter-btn:hover i {
  margin-left: 21px;
  margin-right: 21px;
}
.fb-btn {
  z-index: 4;
  background-color: #3b5998;
}
.fb-btn i {
  color: #153270;
  line-height: 1.5em;
  margin-right: 18px;
  margin-left: 5px;
  margin-top: 10px;
}
.fb-btn:hover i {
  margin-left: 24px;
  margin-right: 18px;
}
.beam-me-up {
  position: fixed;
  z-index: 111;
  bottom: 10px;
  right: 30px;
  text-align: center;
}
.beam-me-up a {
  color: #fefefe;
  text-decoration: none;
  opacity: .25;
  transition: .2s opacity;
}
.beam-me-up a:hover {
  opacity: 1;
}
.beam-me-up a:hover p {
  opacity: 1;
}
.beam-me-up i {
  font-size: 2.5em;
  width: 100%;
  height: 100%;
}
.beam-me-up p {
  opacity: 0;
  font-size: .75em;
  line-height: 1em;
  margin: 0;
  transition: .2s opacity;
}
.popover {
  opacity: 0;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: 236px;
  padding: 1px;
  background-color: #fefefe;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  transition: opacity .15s linear;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.fade.in {
  opacity: 1;
}
.popover .arrow:after {
  z-index: -1;
  content: "";
}
.popover.right .arrow:after {
  bottom: -11px;
  left: -1px;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-width: 11px 11px 11px 0;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover.right .arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-right-color: #fefefe;
  border-width: 10px 10px 10px 0;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover p,
.popover h3 {
  color: #999;
}
.popover-content {
  padding: 9px 14px;
}
.popover-content p,
.popover-content ul,
.popover-content ol {
  margin-bottom: 0;
}
.popover p,
.popover h3 {
  color: #999;
}
