[submodule "vendors/waypoints"]
	path = vendors/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "vendors/modernizr"]
	path = vendors/modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "vendors/skrollr"]
	path = vendors/skrollr
	url = https://github.com/Prinzhorn/skrollr.git
[submodule "vendors/jquery"]
	path = vendors/jquery
	url = https://github.com/dannykingme/jquery.git
