[submodule "vendors/waypoints"]
	path = vendors/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "vendors/skrollr"]
	path = vendors/skrollr
	url = https://github.com/Prinzhorn/skrollr.git
[submodule "vendors/jq"]
	path = vendors/jq
	url = https://github.com/dannykingme/jquery.git
[submodule "vendors/modernizr-square1"]
	path = vendors/modernizr-square1
	url = https://github.com/dannykingme/Modernizr.git
[submodule "vendors/normalize"]
	path = vendors/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "vendors/font-awesome"]
	path = vendors/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
