

/* ==========================================================================
   Danny King's custom styles
   ========================================================================== */


body {
	background: url(../img/bkg.jpg);
}
.cover-top {
	top: 0;
    left: 0;
    position: absolute;
    height: 1200px;
    width: 100%;
}
.cover-btm {
    top: 0;
    left: 0;
    position: absolute;
    height: 1200px;
    width: 100%;
}
.cover-one {
	z-index: 3;
	position: relative;
	height: 50px;
	background: url(../img/cover.jpg);
}
.cover-two {
	z-index: 2;
	position: relative;
	height: 10px;
	background: url(../img/cover-top.png) repeat-x;
	background-position: top left;
}
.cover-three {
	z-index: 1;
	position: relative;
	height: 800px;
	background: url(../img/cover-btm.png), -webkit-linear-gradient(top, transparent 50%,rgba(0, 0, 0, 0.22) 100%);
	background-repeat: repeat-x, no-repeat;
	background-position: bottom left, center;
}
.cover-four {
	z-index: 4;
	position: relative;
	height: 1350px;
	background: url(../img/cover.jpg);
}
.top-logo {
	
}
.mission {
	height: 0;
}
.mission .mission-type {
	z-index: 6;
	position: relative;
	top: 0;
}
.signup{
	top: -400px;
	position: relative;
}
#mc_embed_signup {
	color: #fff;
	background: transparent;
	clear: left;
	font: 14px Helvetica, Arial, sans-serif;
}
#mc_embed_signup .email {
	background: rgba(0, 0, 0, 0.11);
	border: transparent;
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.09), 10px 10px 10px rgba(0, 0, 0, 0.11) inset;
}
#mc_embed_signup .button {
	background: rgba(255, 255, 255, 0.07) !important;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22) !important;
}
#mc_embed_signup .button:hover {
	background: rgba(255, 255, 255, 0.11) !important;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33) !important;
}
#mc_embed_signup .button:active {
	background: rgba(255, 255, 255, 0.07) !important;
	box-shadow: none !important;
}