/* ==========================================================================
   Danny King's custom styles
   ========================================================================== */
   
  /*------------------------------------------*/
 /*----------------- RESETS -----------------*/
/*------------------------------------------*/
	  /*------------------*/
	 /* Reset Typography */
	/*------------------*/	
	html {
		background: url(../img/cover.jpg);
	}
	html, html a {
		-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}
	body {
		height:100%;
		font-family: "SourceSansPro",Helvetica,Arial,sans-serif;
		font-weight: 200;
		font-size: 24px;
		line-height: 32px;
		color: #d1d2d3;
		background: url(../img/bkg.jpg);
		background-size: 42px 1200px;
		background-repeat: repeat-x;
		padding-bottom: 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #f1f2f3;
		font-weight: 400;
	}
	h2 {
		font-size: 42px;
		line-height: 42px;
	}
	h3 {
		margin: 0;
	}
	p {
		margin: 0 0 20px;
	}
	b {
		font-weight: 300;
		color: #fff;
	}
	span {
		font-family: "SourceSansPro",Helvetica,Arial,sans-serif;
		font-weight: 300;
		color: #ff8434;
	}
	  /*---------------*/
	 /* Reset Buttons */
	/*---------------*/	
	.btn-warning {
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8434', endColorstr='#fc7e35',GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	background-image:         linear-gradient(to bottom,#f0691b,#ff8434);
	background-image:        -webkit-gradient(linear,left top,left bottom,color-stop(#ff8434),color-stop(#f0691b));
	background-image:      -o-linear-gradient(top,#ff8434,#f0691b);
	background-image:     -ms-linear-gradient(top,#ff8434,#f0691b);
	background-image:    -moz-linear-gradient(top,#ff8434,#f0691b);
	background-image: -webkit-linear-gradient(top,#ff8434,#f0691b);
	background-color: #f08d40;
	background-repeat: repeat-x;
	}
	.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
		color: #fff;
		background-color: #f0691b;
		}
	.btn-warning:active {
				box-shadow: inset 0 2px 4px rgba(100, 0, 0, 0.333),0 1px 2px rgba(255, 255, 255, 0.17);
			 -o-box-shadow: inset 0 2px 4px rgba(100, 0, 0, 0.333),0 1px 2px rgba(255, 255, 255, 0.17);
			-ms-box-shadow: inset 0 2px 4px rgba(100, 0, 0, 0.333),0 1px 2px rgba(255, 255, 255, 0.17);
		   -moz-box-shadow: inset 0 2px 4px rgba(100, 0, 0, 0.333),0 1px 2px rgba(255, 255, 255, 0.17);
		-webkit-box-shadow: inset 0 2px 4px rgba(100, 0, 0, 0.333),0 1px 2px rgba(255, 255, 255, 0.17);
		}
		
  /*---------------------------------------*/
 /*---------------- INTRO ----------------*/
/*---------------------------------------*/
	  /*---------*/
	 /* The Top */
	/*---------*/
	.intro {
		margin: 180px 0;
	}
	.intro .rdy-logo {
		text-align: center;
		margin-left: 40%;
		margin-right: 40%;
		position: absolute;
		z-index: 11;
		left: 0;
		width: 20%;
		height: 400px;
		text-decoration: none;
	}
	.top-logo {
		margin-right: auto;
		margin-left: auto;
		position: relative;
		z-index: 1;
	}
	.rdy-go {
		color: white;
		position: relative;
		z-index: 10;
		bottom: 0;
		left: 0;
		top:115%;
		opacity: 0;
		-webkit-transition: 1s all;
	}
	.rdy-go:after {
		content:"\f0dd";
		font-family:FontAwesome;
		text-decoration:none;
		position: absolute;
		top: 50%;
		left: 43%;
	}
	.rdy-logo:hover .rdy-go {
		opacity: 1;
		top:  100%;
	}
	.cover-top {
		top: -25px;
		left: 0;
		width: 100%;
		height: 1200px;
		position: absolute;
	}		
	.cover-one {
		height: 10px;
		z-index: 3;
		position: relative;
		background: url(../img/cover.jpg);
		}
	.cover-two {
		height: 13px;
		z-index: 4;
		position: relative;
		background: url(../img/cover-top.png)repeat-x;
		}
	  /*------------*/
	 /* The Bottom */
	/*------------*/
	.cover-btm {
		top: 0;
		left: 0;
		width: 100%;
		height: 1200px;
		position: absolute;
	}
	.cover-three {
		height: 100%;
		z-index: 2;
		position: relative;
		background: url(../img/cover-btm.png),-webkit-linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
		background: url(../img/cover-btm.png),   -moz-linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
		background: url(../img/cover-btm.png),    -ms-linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
		background: url(../img/cover-btm.png),     -o-linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
		background: url(../img/cover-btm.png),        linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
		background-repeat: repeat-x, no-repeat;
		background-position: bottom left, center;
		}
	.cover-four {
		height: 830px;
		z-index: 4;
		position: relative;
		background: url(../img/cover.jpg);
		}
	
  /*---------------------------------------*/
 /*---------- MISSION STATEMENT ----------*/
/*---------------------------------------*/
	  /*---------------*/
	 /* Mission Block */
	/*---------------*/	
	.mission {
		height: 0;
	}
	  /*--------------*/
	 /* Mission Type */
	/*--------------*/
	.statement {
		top: 0;
		z-index: 6;
		position: relative;
		margin-top: 200px;
	}
		
  /*---------------------------------------*/
 /*---------------- ABOUT ----------------*/
/*---------------------------------------*/
	  /*-------------*/
	 /* About Block */
	/*-------------*/
	.about {
		top: -544px;
		z-index: 4;
		position: relative;
		margin-top: 150px;
	}
	  /*-------------------*/
	 /* About Photographs */
	/*-------------------*/	
	.photos, .bio{
		margin-top: 200px;
	}
	.photo1 {
		top: 603px;
		left: -130px;
		position: absolute;
		}
	.photo2 {
		top: 650px;
		left: -60px;
		position: absolute;
		}
		
  /*---------------------------------------*/
 /*-------------- SERVICES ---------------*/
/*---------------------------------------*/
	  /*----------------*/
	 /* Services Block */
	/*----------------*/
	.services {
		top: -500px;
		z-index: 4;
		position: relative;
		margin-top: 150px;
	}
	.services h2 {
		text-align: center;
	}
	.services img {
		margin-top: 18%;
		-webkit-border-radius:110px;
		   -moz-border-radius:110px;
			-ms-border-radius:110px;
			 -o-border-radius:110px;
				border-radius:110px;
		-webkit-box-shadow: 1px 2px 0 rgb(255,255,255),3px 3px 9px rgba(0,0,0,0.33);
		   -moz-box-shadow: 1px 2px 0 rgb(255,255,255),3px 3px 9px rgba(0,0,0,0.33);
		    -ms-box-shadow: 1px 2px 0 rgb(255,255,255),3px 3px 9px rgba(0,0,0,0.33);
		     -o-box-shadow: 1px 2px 0 rgb(255,255,255),3px 3px 9px rgba(0,0,0,0.33);
		        box-shadow: 1px 2px 0 rgb(255,255,255),3px 3px 9px rgba(0,0,0,0.33);
		}
	.coaching {
		margin-top: 0;
	}
	.coaching:before {
		left: 50%;
		top: 20px;
		color: #fff;
		margin: 10px 0;
		margin-bottom: 30px;
		content: "&";
		position: relative;
		font-size: 72px;
		text-align: center;
		font-family: 'BPmono','SourceSansPro',Helvetica,Arial,sans-serif;
		}
		
  /*---------------------------------------*/
 /*------------- TESTIMONIALS ------------*/
/*---------------------------------------*/
	  /*--------------------*/
	 /* Testimonials Block */
	/*--------------------*/
	.testimonials {
		color: #aaa;
		position: relative;
		margin-top: -310px;
	}
	.testimonials .row {
		margin: 0;
		margin-top: 20px;
	}
	.testimonials .row:nth-child(3) {
		margin: 40px 0;
	}
	  /*---------------------*/
	 /* Testimonial Excerpt */
	/*---------------------*/
	.quote {
		min-height: 225px;
		margin-left: 0;
		-webkit-border-radius: 8px;
		   -moz-border-radius: 8px;
			-ms-border-radius: 8px;
			 -o-border-radius: 8px;
				border-radius: 8px;
		background-color: rgba(255,255,255,0.02);
	}
	.quote h3 {
		color: rgb(255,235,215);
		float: left;
		margin: 12px 11px;
		padding: 9px;
		position: relative;
		font-weight: 300;
		-webkit-border-radius: 4px 0 0 4px;
		   -moz-border-radius: 4px 0 0 4px;
			-ms-border-radius: 4px 0 0 4px;
			 -o-border-radius: 4px 0 0 4px;
				border-radius: 4px 0 0 4px;
		padding-bottom: 4px;
		background-color: #F26A46;
		background-image: -webkit-linear-gradient(top, rgba(255, 132, 52, 1) 0%,rgba(240, 105, 27, 1) 100%);
		background-image:    -moz-linear-gradient(top, rgba(255, 132, 52, 1) 0%,rgba(240, 105, 27, 1) 100%);
		background-image:     -ms-linear-gradient(top, rgba(255, 132, 52, 1) 0%,rgba(240, 105, 27, 1) 100%);
		background-image:      -o-linear-gradient(top, rgba(255, 132, 52, 1) 0%,rgba(240, 105, 27, 1) 100%);
		background-image:         linear-gradient(top, rgba(255, 132, 52, 1) 0%,rgba(240, 105, 27, 1) 100%);
		background-position: center,center;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.55),0 1px 0 rgba(240,105,27,1) , 0 1px 2px rgba(255,255,255,0.55);
		-webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
		   -moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
			-ms-box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
			 -o-box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
				box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
	}
	  /*------------------------*/
	 /* Testimonial Quote Icon */
	/*------------------------*/
	.quote h3:nth-child(2) {
		width: 40px;
		height: 40px;					
		margin-left: -7px;
		-webkit-border-radius: 0 4px 4px 0;
		   -moz-border-radius: 0 4px 4px 0;
			-ms-border-radius: 0 4px 4px 0;
			 -o-border-radius: 0 4px 4px 0;
				border-radius: 0 4px 4px 0;
		-webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
		   -moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
			-ms-box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
			 -o-box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
				box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
	}
	.quote h3:nth-child(2):before, .testimonials h3:nth-child(2):after {
		color: rgb(255,235,215);
		content: ",,";
		position: absolute;
		font-size: 38px;
		font-weight: 500;
		letter-spacing: -2px;
		}
	.quote h3:nth-child(2):before {						
		top: 12px;
		left: 11px;
		text-shadow: 0 1px 1px rgba(0,0,0,0.55),0 -1px 0 rgba(240,105,27,1),0 -1px 2px rgba(255,255,255,0.55);
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			 -o-transform: rotate(180deg);
				transform: rotate(180deg);
		}
	.quote h3:nth-child(2):after {
		top: 0;
		left: 29px;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.55),0 1px 0 rgba(240,105,27,1),0 1px 2px rgba(255,255,255,0.55);						
		}
	  /*---------------------*/
	 /* Testimonial Message */
	/*---------------------*/
	.quote p {					
		padding: 20px;
		font-size: 18px;
		line-height: 24px;
		padding-top: 80px;
		margin-bottom: 0;
	}
	.quote p:nth-child(4) {
		padding-top: 0;
		}
		
  /*---------------------------------------*/
 /*--------------- CONTACT ---------------*/
/*---------------------------------------*/
	  /*----------------*/
	 /* Contact Resets */
	/*----------------*/	
	.contact {
		position: relative;
		overflow: hidden;
	}
	.popover p, .popover h3 {
		color: #999;
		}
	legend {
		font-size: 32px;
		line-height: 64px;
	}
	input, textarea {
		width: 96%;
	}
	button, textarea, input {
		min-height: 32px;
	}
	button {
		margin-top: 30px;
	}
	small i {
		position: relative;
		top: -2px;
		margin: 2px;
	}
	textarea:focus, input[type="text"]:focus, input[type="email"]:focus {
		border-color: rgba(0,171,92,0.8);
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,171,92,0.8);
		   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,171,92,0.8);
			-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,171,92,0.8);
			 -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,171,92,0.8);
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,171,92,0.8);
	}
	#googleMap {
		width:100%;
		height:100%;
		position: absolute;
		top: 0;
	}
	#googleMap>div:first-child>div:nth-child(7),
	#googleMap>div:first-child>div:nth-child(3),
	#googleMap>div:first-child>div:nth-child(6),
	#googleMap>div:first-child>div:nth-child(8){
		display: none !important;
		}
	  /*---------------------*/
	 /* Contact Mailer Form */
	/*---------------------*/	
	.mailbox {
		width: 480px;
		background: white;
		position: absolute;
		z-index: 7;
		top: 200px;
		right: 50%;
		padding: 20px 0;
		-webkit-border-radius: 8px 0 8px 8px;
		   -moz-border-radius: 8px 0 8px 8px;
			-ms-border-radius: 8px 0 8px 8px;
			 -o-border-radius: 8px 0 8px 8px;
				border-radius: 8px 0 8px 8px;
		-webkit-box-shadow: 8px 8px 13px rgba(0,0,0,0.15), 2px 1px 2px rgba(0,0,0,0.15), 0 0 25px rgba(0,0,0,0.15);
		   -moz-box-shadow: 8px 8px 13px rgba(0,0,0,0.15), 2px 1px 2px rgba(0,0,0,0.15), 0 0 25px rgba(0,0,0,0.15);
			-ms-box-shadow: 8px 8px 13px rgba(0,0,0,0.15), 2px 1px 2px rgba(0,0,0,0.15), 0 0 25px rgba(0,0,0,0.15);
			 -o-box-shadow: 8px 8px 13px rgba(0,0,0,0.15), 2px 1px 2px rgba(0,0,0,0.15), 0 0 25px rgba(0,0,0,0.15);
				box-shadow: 8px 8px 13px rgba(0,0,0,0.15), 2px 1px 2px rgba(0,0,0,0.15), 0 0 25px rgba(0,0,0,0.15);
	}
	.mailer {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		}
	  /*------------------------*/
	 /* Contact Social Buttons */
	/*------------------------*/	
	.social-btns  {
		text-align: center;
	}	
	.social {
		z-index: 6;
		position: absolute;
		left: 480px;
		width: auto;
		height: 50px;
		-webkit-border-radius: 0 8px 8px 0;
		   -moz-border-radius: 0 8px 8px 0;
			-ms-border-radius: 0 8px 8px 0;
			 -o-border-radius: 0 8px 8px 0;
				border-radius: 0 8px 8px 0;
		-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
		   -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
			-ms-box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
			 -o-box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
				box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
	}
	.social:active {
		background-image: none;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.33);
		   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.33);
			-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.33);
			 -o-box-shadow: 0 1px 2px rgba(0,0,0,0.33);
				box-shadow: 0 1px 2px rgba(0,0,0,0.33);
		}
	.social i {
		opacity: .5;
		text-shadow: 0px 1px 0 rgba(255,255,255,0.50), 0 -1px 0 rgba(0, 0, 0, 0.44);
		font-size: 19px;
		text-decoration: none;
		-webkit-transition: .1s margin-left;
		   -moz-transition: .1s margin-left;
			-ms-transition: .1s margin-left;
			 -o-transition: .1s margin-left;
				transition: .1s margin-left;
		}
	.social:hover i {
		opacity: 1;
		color: #eee;
		text-shadow: none;
		}
	  /*-------------------------*/
	 /* Contact FACEBOOK Button */
	/*-------------------------*/	
	.fb-btn {
		top: 0;
		background-color: #3b5998;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:      -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:         linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
	}
	.fb-btn:active {
		top:1px;
		}
	.fb-btn i {
		color: rgb(21, 50, 112);
		margin: 15px;
		margin-right: 24px;
		margin-left: 5px;
		}
	.fb-btn:hover i {
		margin-left: 21px;
		}
	  /*------------------------*/
	 /* Contact TWITTER Button */
	/*------------------------*/	
	.twitter-btn {
		top: 40px;
		background-color: #4099ff;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:      -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:         linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
	}
	.twitter-btn:active {
		top: 41px;
		}
	.twitter-btn i {
		color: rgb(44, 88, 188);
		margin: 17px;
		margin-left: 0;
		}
	.twitter-btn:hover i {
		margin-left: 17px;
		}
	  /*--------------------------*/
	 /* Contact PINTEREST Button */
	/*--------------------------*/	
	.pin-btn {
		top: 80px;
		background-color: #e22;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:      -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:         linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
	}
	.pin-btn:active {
		top: 81px;
		}
	.pin-btn i {
		color: #a22;
		margin: 17px;
		margin-left: 2px;
		margin-right: 19px;
		}
	.pin-btn:hover i {
		margin-left: 17px;
		}
	  /*---------------------*/
	 /* Contact MAIL Button */
	/*---------------------*/	
	.mail-btn {
		top: 120px;
		background-color: #00ab5c;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:      -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
		background-image:         linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
	}
	.mail-btn:active {
		top: 121px;
		}
	.mail-btn i {
		font-size: 18px;
		color: rgb(0, 111, 0);
		margin: 17px;
		margin-left: 1px;
		margin-right: 18px;
		}
	.mail-btn:hover i {
		margin-left: 19px;
		}
	  /*----------------------*/
	 /* Contact PHONE Button */
	/*----------------------*/	
	.phone-btn {
		top: 160px;
		background-color: #444;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
		background-image:      -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
		background-image:         linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
	}
	.phone-btn:active {
		top: 161px;
		}
	.phone-btn i {
		color: #111;
		margin: 17px;
		margin-left: 5px;
		}
	.phone-btn:hover i {
		margin-left: 20px;
		}
	  /*---------------*/
	 /* Contact Cover */
	/*---------------*/	
	.map-pusher {
		overflow: hidden;
		position: relative;
		z-index: 9;
		width: 100%;
		background: url(../img/contact.png), url(../img/cover.jpg);
		background-repeat: no-repeat, repeat;
		background-position: center, top left;
	}
	.map-pusher a {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 100%;
	}
	.map-tear {
		position: relative;
		z-index: 8;
		width: 100%;
		height: 13px;
		background: url(../img/cover-top.png) repeat-x;
	}
  /*---------------------------------------*/
 /*---------------- INSERT ---------------*/
/*---------------------------------------*/

/*
	.signup{
		top: -400px;
		position: relative;
	}
	#mc_embed_signup {
		color: #fff;
		background: transparent;
		clear: left;
		font: 14px Helvetica, Arial, sans-serif;
	}
	#mc_embed_signup .email {
		background: rgba(0, 0, 0, 0.11);
		border: transparent;
		box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.09), 10px 10px 10px rgba(0, 0, 0, 0.11) inset;
	}
	#mc_embed_signup .button {
		background: rgba(255, 255, 255, 0.07) !important;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22) !important;
	}
	#mc_embed_signup .button:hover {
		background: rgba(255, 255, 255, 0.11) !important;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33) !important;
	}
	#mc_embed_signup .button:active {
		background: rgba(255, 255, 255, 0.07) !important;
		box-shadow: none !important;
	}
*/

  /*------------------------------------------*/
 /*--------------- TITLE HERE ---------------*/
/*------------------------------------------*/