	/* ==========================================================================
   Danny King's custom styles
   ========================================================================== */
   
  /*------------------------------------------*/
 /*----------------- RESETS -----------------*/
/*------------------------------------------*/
	  /*------------------*/
	 /* Reset Typography */
	/*------------------*/	
	html {
	}
	html, html a {
		-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}
	body {
		height:100%;
		font-family: "SourceSansPro",Helvetica,Arial,sans-serif;
		font-weight: 200;
		font-size: 24px;
		line-height: 32px;
		color: #d1d2d3;
		padding-bottom: 0;
	}
	.wrapper {
		padding-top: 60px;
		background-color:#191919;
		background-image:url(../img/cover.jpg);
	}
	h1, h2, h3, h4, h5, h6 {
		color: #f1f2f3;
		font-weight: 400;
	}
	h2 {
		font-size: 42px;
		line-height: 42px;
	}
	h3 {
		margin: 0;
	}
	p {
		margin: 0 0 20px;
	}
	b {
		font-weight: 300;
		color: #fff;
	}
	span {
		font-family: "SourceSansPro",Helvetica,Arial,sans-serif;
		font-weight: 300;
		color: #ff8434;
	}