@media (min-width: 1200px) { // Large desktop
// tests
}
@media (min-width: 768px) and (max-width: 979px) { // Portrait tablet to landscape and desktop
  .about {
    margin: 13%;
  }
  .photos {
    width: 80%;
    margin: 0 10%;
    padding-bottom: 80%;
  }
  .bio {
    width: 100%;
    h2 {
      margin: 0;
    }
  }
  .services {
    margin: 13%;
  }
  .serv1, .serv2 {
    margin: 13% 0;
  }
  .detox, .clean {
   width: 100%;
   a {
    display: block;
    margin: 8% 0;
    padding: 1.5em 2em;
   }
  }
  .ico {
   width: 60%;
   margin: 8% 20%;
  }
}
@media (max-width: 767px) { // Landscape phone to portrait tablet
  .about {
    margin: 13%;
  }
  .photos {
    width: 80%;
    margin: 0 10%;
    padding-bottom: 80%;
  }
  .bio {
    width: 100%;
    h2 {
      margin: 0;
    }
  }
  .services {
    margin: 13%;
  }
  .serv1, .serv2 {
    margin: 13% 0;
  }
  .detox, .clean {
    width: 100%;
    a {
     display: block;
     margin: 8% 0;
     padding: 1.5em 2em;
    }
  }
  .ico {
    width: 50%;
    margin: 5% 25%;
  }
}
@media (max-width: 480px) { // Landscape phones and down
  .about {
    margin: 8%;
  }
  .photos {

  }
  .services {
    margin: 8%;
  }
}

// ================================== //
//              Retina                //
// ================================== //

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    //font-size: 1.3em;
  }
}
// iPhone 4
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
//styles
}

// ================================== //
//             Desktop                //
// ================================== //

// LARGE //
@media only screen and (min-width : 1824px) {
//styles
}
// TOP / LAP //
@media only screen and (min-width : 1224px) {
//styles
}

// ================================== //
//               iPad                 //
// ================================== //


// PORT / LAND //
@media only screen and (min-width : 768px) and (max-width : 1024px) {
//styles
}
// LANDSCAPE //
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
//styles
}
// PORTRAIT //
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
//styles
}

// ================================== //
//               iPhone               //
// ================================== //

// PORT/LAND //
@media only screen and (min-width : 320px) and (max-width : 480px) {
//styles
}
// LANDSCAPE //
@media only screen and (min-width : 321px) {
//styles
}
// PORTRAIT //
@media only screen and (max-width : 320px) {
//styles
}