@import "normal";
@import "colors";
@import "fonts";
@import "icons";
@import "mixins";
@import "animations";
@import "responsive";
@import "qt";

body {

             color : $light;
            margin : 0;
            height : 100%;
         font-size : 1.1em;
       line-height : 1.5em;
       font-family : "SourceSans", sans-serif;
       font-weight : 400;
    padding-bottom : 0;
   text-decoration : none;
  background-color : $white;

  -webkit-backface-visibility: hidden;

}

a {

  color: $white;
             text-decoration: none;
  &:hover  { text-decoration: none; }
  &:active { text-decoration: none; }
  &:focus  { text-decoration: none; }

}

h1, h2, h3, h4, h5, h6 { text-rendering: optimizelegibility; }

h1 {

  font-size   : 4em;
  font-family : 'Museo', 'SourceSans', sans-serif;
  font-weight : 100;
  line-height : 1;

}

h2 {

  color       : $white;
  font-weight :    200;
  font-size   :    2.8em;
  line-height :    1em;
  margin      : .5em 0;

}

strong {

  font-weight: 300;
  color: #eee;

}

span {

  color: $orange;
  font-family: "SourceSans", sans-serif;
  font-weight: 400;

}

#wrapper {

  overflow: hidden;
  background: url(../../img/bkg.svg);

}

.intro {

  background: url(img/bkg.svg) 1px;

}

.opening {

  background-image: url(../../img/bkg-sm.png);
  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-mask: url(../../img/rip.svg) repeat-x;
  -webkit-mask-position-y: 100%;

}

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 200%;
  margin-left: -50%;

  @include grad2 (rgba(144,21,5,0),rgba(144,21,5,0.21));

}

.logo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 377px;

  -webkit-animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  -webkit-animation-delay: 600ms;

}

.mission {

  margin: 0 13%;
  padding: 21% 0;

}

.about {

  padding: 0 13%;
  margin: 34% 0;
  min-height: 600px;

}

.photos {

  position: relative;
  width: 40%;
  padding-bottom: 40%;

}

.portrait {

  .photo {

    background-image: url(../../img/port.jpg);
    z-index: 4;

  }

  &:before {

    box-shadow: 3px 5px 8px rgba(0,0,0,.55), 0 -1px #ccc, -1px 0 0 #ccc;
    top: 1px;
    -webkit-transform: rotate(-2deg);
    z-index: 1;

  }

  &:after {

    box-shadow: 1px 1px 1px rgba(0,0,0,.34), 0 -1px #ccc, -1px 0 0 #ccc;
    z-index: 1;

  }

}

.landscape {

  top: 1em;
  -webkit-transform: rotate(70deg);

  .photo {

    background-image: url(../../img/land.jpg);
    z-index: 2;

  }

  &:before {

    box-shadow: 3px 5px 8px rgba(0,0,0,.55), 0 -1px #ccc, -1px 0 0 #ccc;
    top: 1px;
    -webkit-transform: rotate(-2deg);
    z-index: 1;

  }

  &:after {

    box-shadow: 1px 1px 1px rgba(0,0,0,.34), 0 -1px #ccc, -1px 0 0 #ccc;
    z-index: 1;

  }

}

.portrait, .landscape {

    position: absolute;
    width: 75%;
    padding-bottom: 100%;

  &:before, &:after {

      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: $white;
      margin: 0 auto;
      border-radius: 4% / 3%;


  }

  .photo {

      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 93% 95%;
      background-position: center;

  }

  .folds {

      width:100%;
      height:100%;
      background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 66%,rgba(0,0,0,.34) 100%),
                        -webkit-linear-gradient(left, rgba(0,0,0,.21) 0%,rgba(0,0,0,0) 34%),
                        -webkit-linear-gradient(top, rgba(0,0,0,.21) 0%,rgba(0,0,0,0) 34%),
                        -webkit-linear-gradient(left, rgba(0,0,0,0) 66%,rgba(0,0,0,.21) 100%),

                        -webkit-linear-gradient(left, rgba(255,255,255,0) 66%,rgba(255,255,255,.21) 100%),
                        -webkit-linear-gradient(top, rgba(255,255,255,0) 66%,rgba(255,255,255,.21) 100%),
                        -webkit-linear-gradient(left, rgba(255,255,255,.21) 0%,rgba(255,255,255,0) 34%),
                        -webkit-linear-gradient(top, rgba(255,255,255,.21) 0%,rgba(255,255,255,0) 34%);

      background-size: 50.25% 50%, 50% 50%, 50% 50.25%, 50.25% 50.25%,
                       50.25% 50%, 50% 50%, 50% 50.25%, 50.25% 50.25%;

      background-position: 0 0, 100% 0, 100% 100%, 0 100%,
                           0 0, 100% 0, 100% 100%, 0 100%;

      background-repeat: no-repeat;

  }

}

.bio {

  float: right;
  padding: 3em 0;
  width: 60%;

}

.services {

  padding: 13% 13%;
  margin: 21% 0;
  min-height: 600px;
  background: rgba(255, 255, 255, 0.03);

  a {

    display: inline-block;
    padding: 1em 2em;
    border: 1px solid $white;
    border-radius: 4px;
    margin-top: 1em;
    text-shadow: none;

    -webkit-transition: 340ms color, 340ms background, 210ms margin,  210ms -webkit-transform;

    &:hover {

      background: $white;
      color: #333;

      -webkit-transition: 340ms color, 340ms background, 210ms margin,  210ms -webkit-transform;

    }

    &:active, &:focus {

      color: #333;
      background: $white;
      box-shadow: 0 2px 2px darken($white, 21%) inset;

      -webkit-transition: 340ms color, 340ms background, 210ms margin,  210ms -webkit-transform;

      -webkit-transform: translate(0,1px);

    }

  }

}

.serv1 {

  min-height: 250px;
  position: relative;
  padding: 8% 0;
  margin: 13% 0;

  .ico {

    right: 0;

  }

}

.serv2 {

  min-height: 250px;
  position: relative;
  padding: 8% 0;
  margin: 13% 0;

}

.detox {

  width: 55%;
  float: left;

}

.glass {

  width: 100%;
  padding-bottom: 100%;
  background-image: -webkit-linear-gradient(top, darken($white,5%) 0%,darken($white, 8%) 100%);
  -webkit-mask: url(../../img/sprite.svg);
  -webkit-mask-size: 200%;
  -webkit-mask-position: 100% 0;

}

.juice {

  width: 100%;
  padding-bottom: 100%;
  background-image: -webkit-linear-gradient(top, $orange 0%,darken($orange, 13%) 100%);
  -webkit-mask: url(../../img/sprite.svg);
  -webkit-mask-size: 200%;
  -webkit-mask-position: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform-origin-y: 91%;

}

.cal {

  width: 100%;
  padding-bottom: 100%;
  background-image: -webkit-linear-gradient(top, darken($white,5%) 0%,darken($white, 8%) 100%);
  -webkit-mask: url(../../img/sprite.svg);
  -webkit-mask-size: 200%;
  -webkit-mask-position: 0 0;

}

.day {

  width: 100%;
  padding-bottom: 100%;
  background-image: -webkit-linear-gradient(top, $green 0%,darken($green, 13%) 100%);
  -webkit-mask: url(../../img/sprite.svg);
  -webkit-mask-size: 200%;
  -webkit-mask-position: 0 100%;
  position: absolute;
  top: 0;

}

.clean {

  width: 55%;
  float: right;

}

.ico {

  position: absolute;
  top: 0;
  width: 34%;
  height: 100%;

}

.testimonials {

  padding: 0 13%;
  margin-bottom: 34%;
  color: $light;
  position: relative;

  &:before, &:after {

    display: table;
    line-height: 0;
    content: "";

  }

}

.quote {

  margin: 2% 0;
  background-color: rgba(255,255,255,0.02);
  float: left;

  @include b-rad (0, 8px, 8px, 0);

  &:before, &:after {

    display: table;
    line-height: 0;
    content: "";

  }

  h3 {

    color: #ffebd7;
    float: left;
    margin: 45px 45px 15px;
    padding: 8px;
    position: relative;
    font-weight: 400;
    background-color: darken($orange,5%);
    background-position: center,center;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.55),0 1px 0 rgba(240,105,27,1),0 1px 2px rgba(255,255,255,0.55);

    @include b-rad (4px, 0, 0, 4px);

    @include grad2 ($orange,darken($orange,5%));

    @include box-shadow (inset 0 -2px 0 darken($orange,34%),
                            0 -1px 0 $orange,
                            0 -2px 0 lighten($orange,13%));

    line-height: 40px;

    &:nth-child(2) {

      width: 40px;
      height: 40px;
      margin-left: -43px;

      @include b-rad (0, 4px, 4px, 0);

      @include box-shadow (inset 0 -2px 0 darken($orange,34%),
                              0 -1px 0 $orange,
                              0 -2px 0 lighten($orange,13%));

      &:before, &:after {

        color: #ffebd7;
        content: ",,";
        position: absolute;
        font-size: 38px;
        font-weight: 400;
        letter-spacing: -2px;

      }

      &:before {

        top: 12px;
        left: 11px;
        text-shadow: 0 1px 1px rgba(0,0,0,0.55),0 -1px 0 rgba(240,105,27,1),0 -1px 2px rgba(255,255,255,0.55);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

      }

      &:after {

        top: 0;
        left: 29px;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.55),0 1px 0 rgba(240,105,27,1),0 1px 2px rgba(255,255,255,0.55);

      }

    }

  }

  blockquote {

    padding: 0 0 0 15px;
    margin: 0 0 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 15px;
    border-left: 1px solid rgba(255,255,255,0.11);

  }

  small {

    display: block;
    font-size: .8em;
    line-height: 1.2em;
    text-indent: -14px;
    padding: 0 8% 20px;
    text-align: right;
    font-weight: 400;

    &:before {

      content: '\2014 \00A0';

    }

  }

  cite {

    font-style: normal;

  }

  p {

    padding: 0 30px 0;
    font-weight: 300;

    &:first-child {

      padding-top: 115px;
      text-indent: -4px;

      &:before {

        content: '\201c';

      }

    }

    &:nth-last-child(2) {

      &:after {

        content: '\201d';

      }

    }

  }

}

.contact {

  position: relative;
  overflow: hidden;

}

.mapCurtain {

  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-mask: url(../../img/rip.svg) repeat-x;
  -webkit-mask-position-y: -100%;

}

#googleMap {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}

.contact-options {
  width: 560px;
  position: relative;
  margin: 0 auto;
  top: 13%;
}

.mailbox {

 display: inline-block;
 width: 500px;
 background: $white;
 padding: 30px 0;
 float: left;

  @include b-rad (8px, 0, 8px, 8px);

  @include box-shadow ( 8px 8px 13px rgba(0,0,0,0.15),
                         2px 1px 2px rgba(0,0,0,0.15),
                            0 0 25px rgba(0,0,0,0.15));

  form {

    margin: 0 0 20px;

  }

  fieldset {

    padding: 0;
    margin: 0;
    border: 0;

    margin-left: auto;
    margin-right: auto;
    width: 80%;

  }

  legend {

    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 64px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;

  }

  input, textarea {

    margin: 0;
    font-weight: 300;
    font-family: "SourceSans", sans-serif;
    width: 96%;
    min-height: 32px;

    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;

    background-color: $white;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;

    @include b-rad (4px, 4px, 4px, 4px);

  }

  textarea {

    margin: 0;
    overflow: auto;
    font-weight: 300;
    font-family: "SourceSans", sans-serif;
    height: auto;

  }

  button {

    margin: 0;
    -webkit-appearance: button;
    font-weight: 300;
    font-family: "SourceSans", sans-serif;
    min-height: 32px;
    margin-top: 30px;

    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbb;

    @include box-shadow ( inset 0 1px 0 rgba(255,255,255,0.2),
                              0 1px 2px rgba(0,0,0,0.05)    );

    padding: 11px 19px;
    padding-right: 0;
    padding-left: 0;
    font-size: 17.5px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: $white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);

    @include b-rad (6px, 6px, 6px, 6px);

    @include grad2 (#62c462,#51a351);

    &:hover {

      text-decoration: none;
      background-position: 0 -15px;
      -webkit-transition: background-position .1s linear;
      -moz-transition: background-position .1s linear;
      -o-transition: background-position .1s linear;
      transition: background-position .1s linear;
      color: $white;
      background-color: #51a351;

    }

    &:active {

      background-image: none;
      outline: 0;
      color: $white;
      background-color: #51a351;

      @include box-shadow ( inset 0 2px 4px rgba(0,0,0,0.15),
                                  0 1px 2px rgba(0,0,0,0.05));

    }

    &:focus {

      outline-offset: -2px;

    }

  }

}

.social {

  margin-bottom: -5px;
  position: relative;
  width: auto;
  height: 50px;
  display: inline-block;

  @include b-rad (0, 8px, 8px, 0);

  @include box-shadow (0 1px 2px rgba(0,0,0,0.34));

  i {

    opacity: .5;
    text-shadow: 0 1px 0 rgba(255,255,255,0.50),0 -1px 0 rgba(0,0,0,0.44);
    font-size: 19px;
    text-decoration: none;
    -webkit-transition: .08s margin-left;
    -moz-transition: .08s margin-left;
    -ms-transition: .08s margin-left;
    -o-transition: .08s margin-left;
    transition: .08s margin-left;

  }

  &:hover i {

    opacity: 1;
    color: #eee;
    text-shadow: none;
    -webkit-transition: .18s margin-left;
    -moz-transition: .18s margin-left;
    -ms-transition: .18s margin-left;
    -o-transition: .18s margin-left;
    transition: .18s margin-left;

  }

  &:active {

    background-image: none;
    @include box-shadow (0 1px 2px rgba(0,0,0,0.33));

  }

}

.phone-btn {

  background-color: #444;
  @include tab;

  i {

    color: #111;
    margin: 18px;
    margin-left: 5px;

  }

  &:hover i {

    margin-left: 20px;
    margin-right: 20px;

  }

}

.mail-btn {

  z-index: 1;
  background-color: #00ab5c;
  @include tab;

  i {

    font-size: 18px;
    color: #006f00;
    margin: 17px;
    margin-left: 3px;
    margin-right: 20px;

  }

  &:hover i {

    margin-left: 20px;
    margin-right: 20px;

  }

}

.pin-btn {

  z-index: 2;
  background-color: #e22;
  @include tab;

  i {

    color: #a22;
    margin: 17px;
    margin-left: 3px;
    margin-right: 20px;

  }

  &:hover i {

    margin-left: 20px;
    margin-right: 21px;

  }

}

.twitter-btn {

  z-index: 3;
  background-color: #4099ff;
  @include tab;

  i {

    color: #2c58bc;
    margin: 17px;
    margin-left: 3px;
    margin-right: 20px;

  }

  &:hover i {

    margin-left: 21px;
    margin-right: 21px;

  }

}

.fb-btn {

  z-index: 4;
  background-color: #3b5998;
  @include tab;

  i {

    color: #153270;
    line-height: 1.5em;
    margin-right: 18px;
    margin-left: 5px;
    margin-top: 10px;

  }

  &:hover i {

    margin-left: 24px;
    margin-right: 18px;

  }

}

.beam-me-up {

  position: fixed;
  z-index: 111;
  bottom: 10px;
  right: 30px;
  text-align: center;

  a {
    color: $white;
    text-decoration: none;
    font-size: 40px;
    opacity: .25;
    -webkit-transition: .2s opacity;
    -moz-transition: .2s opacity;
    -ms-transition: .2s opacity;
    -o-transition: .2s opacity;
    transition: .2s opacity;
  }

  i {

    height: 20px;

  }

  p {

    opacity: 0;
    font-size: 16px;
    margin: 0;
    -webkit-transition: .2s opacity;
    -moz-transition: .2s opacity;
    -ms-transition: .2s opacity;
    -o-transition: .2s opacity;
    transition: .2s opacity;

  }

}



.popover {

  opacity: 0;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: 236px;
  padding: 1px;
  background-color: $white;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  text-align: center;

  @include b-rad (6px, 6px, 6px, 6px);

  @include box-shadow (0 5px 10px rgba(0,0,0,0.2));

}

.fade.in {
  opacity: 1;
}

.popover .arrow:after {
z-index: -1;
content: "";
}

.popover.right .arrow:after {
bottom: -11px;
left: -1px;
border-right-color: rgba(0,0,0,0.25);
border-width: 11px 11px 11px 0;
}

.popover .arrow, .popover .arrow:after {
position: absolute;
display: inline-block;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}

.popover.right .arrow {
top: 50%;
left: -10px;
margin-top: -10px;
border-right-color: $white;
border-width: 10px 10px 10px 0;
}

.popover-title {

padding: 8px 14px;
margin: 0;
font-size: 14px;
font-weight: normal;
line-height: 18px;
background-color: #f7f7f7;
border-bottom: 1px solid #ebebeb;

@include b-rad (5px, 5px, 0, 0);

}

.popover p, .popover h3 {
color: #999;
}

.popover-content {
padding: 9px 14px;
}

.popover-content p, .popover-content ul, .popover-content ol {
margin-bottom: 0;
}

.popover p, .popover h3 {
color: #999;
}