@import "normalize.scss";
@import "h5bp.scss";
@import "fonts.scss";
@import "icons.scss";

body {
  background-color: #fefefe;
  margin: 0;
  height: 100%;
  font-family: "SourceSans", sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  color: #d1d2d3;
  padding-bottom: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-decoration: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {

  text-rendering: optimizelegibility;
  font-family: inherit;
  color: inherit;

}

p {

  margin: 0 0 20px;


}

small {

  font-size: 85%;

}

#wrapper1 {

  background-image: url(../../img/cover.jpg);

}

.intro {

  padding: 180px 0;
  background-image: url(../../img/bkg-sm.png);
  text-align: center;

}

.container {

  width: 940px;
  margin-right: auto;
  margin-left: auto;

}

.container:before, .container:after {

  display: table;
  line-height: 0;
  content: "";
  clear: both;

}

.rdy-logo {

  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  position: absolute;
  z-index: 11;
  left: 0;
  width: 20%;
  height: 400px;
  text-decoration: none;

}

.rdy-go {

  color: white;
  position: relative;
  z-index: 10;
  bottom: 0;
  left: 0;
  top: 115%;
  opacity: 0;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  font-weight: 300;

}

.rdy-go:after {

  content: "f0dd";
  font-family: FontAwesome;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 43%;

}

.cover-top {

  top: -25px;
  left: 0;
  width: 100%;
  height: 1200px;
  position: absolute;

}

.cover-one {

  height: 10px;
  z-index: 3;
  position: relative;
  background: url(../../img/cover.jpg);

}

.cover-two {

  height: 13px;
  z-index: 4;
  position: relative;
  background: url(../../img/cover-top.png)repeat-x;

}

.cover-btm {

  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  position: absolute;

}

.cover-three {

  height: 100%;
  z-index: 2;
  position: relative;
  background: url(../../img/cover-btm.png),-webkit-linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
  background: url(../../img/cover-btm.png),-moz-linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
  background: url(../../img/cover-btm.png),-ms-linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
  background: url(../../img/cover-btm.png),-o-linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
  background: url(../../img/cover-btm.png),linear-gradient(top,transparent 50%,rgba(0,0,0,0.22)100%);
  background-repeat: repeat-x,no-repeat;
  background-position: bottom left,center;

}

.cover-four {

  height: 100%;
  z-index: 4;
  position: relative;
  background: url(../../img/cover.jpg);

}

.top-logo {

  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;

}

.mission {

  height: 0;
  margin-left: -20px;

}

.about {

  top: -544px;
  z-index: 4;
  position: relative;
  margin-top: 150px;
  margin-left: -20px;

}

.photos {

  width: 300px;

  img {

    position: relative;
    height: auto;
    width: auto;
    vertical-align: middle;
    border: 0;

  }

}

.photo1 {

  left: 20%;

}

.photo2 {

  top: -400px;
  left: 40%;

}

.bio {

  width: 620px;

  h2 {

    font-size: 42px;
    line-height: 42px;

  }


  p {

    margin: 0 0 20px;

    span {

      font-weight: 300;
      color: #ff8434;

    }

  }

  .btn {

    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow:    inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow:         inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom,#f0691b,#ff8434);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(#ff8434),color-stop(#f0691b));
    background-image: -o-linear-gradient(top,#ff8434,#f0691b);
    background-image: -ms-linear-gradient(top,#ff8434,#f0691b);
    background-image: -moz-linear-gradient(top,#ff8434,#f0691b);
    background-image: -webkit-linear-gradient(top,#ff8434,#f0691b);
    background-color: #f08d40;
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    text-shadow: 0 -1px 0;
    color: #fff;

    &:hover {

      color: #fff;
      text-decoration: none;
      background-color: #f0691b;
      background-position: 0 -15px;
      -webkit-transition: background-position .1s linear;
      -moz-transition: background-position .1s linear;
      -o-transition: background-position .1s linear;
      transition: background-position .1s linear;

    }

    &:active {

      box-shadow: inset 0 2px 4px rgba(100,0,0,0.333),0 1px 2px;
      background-image: none;
      outline: 0;
      color: #fff;
      background-color: #f0691b;
      box-shadow: inset 0 2px 4px rgba(100,0,0,0.333),0 1px 2px rgba(255,255,255,0.17);
      -o-box-shadow: inset 0 2px 4px rgba(100,0,0,0.333),0 1px 2px rgba(255,255,255,0.17);
      -ms-box-shadow: inset 0 2px 4px rgba(100,0,0,0.333),0 1px 2px rgba(255,255,255,0.17);
      -moz-box-shadow: inset 0 2px 4px rgba(100,0,0,0.333),0 1px 2px rgba(255,255,255,0.17);
      -webkit-box-shadow: inset 0 2px 4px rgba(100,0,0,0.333),0 1px 2px rgba(255,255,255,0.17);

    }

    &:focus {

      outline-offset: -2px;

    }

  }

}

.photos, .bio {

  margin-top: 200px;
  float: left;
  min-height: 1px;
  margin-left: 20px;

}

.services {

  top: -500px;
  z-index: 4;
  position: relative;
  margin-top: 150px;
  margin-left: -20px;

  &:before, &:after {

    display: table;
    line-height: 0;
    content: "";

  }
  h3 {

    line-height: 40px;
    font-size: 24.5px;
    color: #f1f2f3;
    font-weight: 400;
    margin: 0;

  }

  h2 {

    margin: 10px 0;
    color: #f1f2f3;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    text-align: center;

  }

  p {

    margin: 0 0 20px;

  }

}

.consulting {

  margin-left: -20px;

  &:before, &:after {

    display: table;
    line-height: 0;
    content: "";

  }

  &:after {

    clear: both;

  }

}

.coaching {

  margin-left: -20px;
  margin-top: 0;

  &:before, &:after {

    display: table;
    line-height: 0;
    content: "";

  }

  &:before {

    left: 50%;
    top: 20px;
    color: #fff;
    margin: 10px 0;
    margin-bottom: 30px;
    content: "&";
    position: relative;
    font-size: 72px;
    text-align: center;
    font-family: 'BPmono','SourceSansPro',Helvetica,Arial,sans-serif;

  }

  &:after {

    clear: both;

  }

}

.detox, .imp {
  float: left;
  min-height: 1px;
  margin-left: 20px;
  width: 700px;
}

.preview {
  float: left;
  min-height: 1px;
  margin-left: 20px;
  width: 220px;
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    margin-top: 7px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 1px 2px 0 #fff,3px 3px 9px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 2px 0 #fff,3px 3px 9px rgba(0,0,0,0.33);
    -ms-box-shadow: 1px 2px 0 #fff,3px 3px 9px rgba(0,0,0,0.33);
    -o-box-shadow: 1px 2px 0 #fff,3px 3px 9px rgba(0,0,0,0.33);
    box-shadow: 1px 2px 0 #fff,3px 3px 9px rgba(0,0,0,0.33);
  }
}

.testimonials {

  margin-left: -20px;
  color: #aaa;
  position: relative;
  margin-top: -310px;

  &:before, &:after {

    display: table;
    line-height: 0;
    content: "";

  }

  h2 {

    color: #f1f2f3;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;

  }

}

.quote {

  margin: 0;
  margin-top: 20px;
  min-height: 200px;
  margin-left: 0;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  background-color: rgba(255,255,255,0.02);
  width: 940px;
  float: left;

  &:before, &:after {

    display: table;
    line-height: 0;
    content: "";

  }

  h3 {

    color: #ffebd7;
    float: left;
    margin: 30px 28px 15px;
    padding: 9px;
    position: relative;
    font-weight: 300;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    padding-bottom: 4px;
    background-color: #f26a46;
    background-image: -webkit-linear-gradient(top,rgba(255,132,52,1) 0,rgba(240,105,27,1) 100%);
    background-image: -moz-linear-gradient(top,rgba(255,132,52,1) 0,rgba(240,105,27,1) 100%);
    background-image: -ms-linear-gradient(top,rgba(255,132,52,1) 0,rgba(240,105,27,1) 100%);
    background-image: -o-linear-gradient(top,rgba(255,132,52,1) 0,rgba(240,105,27,1) 100%);
    background-image: linear-gradient(top,rgba(255,132,52,1) 0,rgba(240,105,27,1) 100%);
    background-position: center,center;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.55),0 1px 0 rgba(240,105,27,1),0 1px 2px rgba(255,255,255,0.55);
    -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.33),0 -3px 0 rgba(255,132,52,1);
    -moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.33),0 -3px 0 rgba(255,132,52,1);
    -ms-box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.33),0 -3px 0 rgba(255,132,52,1);
    -o-box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.33),0 -3px 0 rgba(255,132,52,1);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.33),0 -3px 0 rgba(255,132,52,1);

    line-height: 40px;

    &:nth-child(2) {

      width: 40px;
      height: 40px;
      margin-left: -25px;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      -ms-border-radius: 0 4px 4px 0;
      -o-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
      -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
      -moz-box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
      -ms-box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
      -o-box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);
      box-shadow: 3px 3px 6px rgba(0,0,0,0.25),0 -1px 0 rgba(255,132,52,0.77),0 -2px 0 rgba(255,255,255,0.5),0 -3px 0 rgba(255,132,52,1);

      &:before, &:after {

        color: #ffebd7;
        content: ",,";
        position: absolute;
        font-size: 38px;
        font-weight: 400;
        letter-spacing: -2px;

      }

      &:before {

        top: 12px;
        left: 11px;
        text-shadow: 0 1px 1px rgba(0,0,0,0.55),0 -1px 0 rgba(240,105,27,1),0 -1px 2px rgba(255,255,255,0.55);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

      }

      &:after {

        top: 0;
        left: 29px;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.55),0 1px 0 rgba(240,105,27,1),0 1px 2px rgba(255,255,255,0.55);

      }

    }

  }

  blockquote {

    padding: 0 0 0 15px;
    margin: 0 0 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 15px;
    border-left: 1px solid rgba(255,255,255,0.11);

    p {

      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;
      padding: 10px;
      padding-top: 90px;
      text-indent: -6px;

    }

    small {

      display: block;
      line-height: 20px;
      color: #999;
      font-size: 66%;
      text-indent: -14px;
      padding: 0 60px;
      text-align: right;

      &:before {

        content: '\2014 \00A0';

      }

    }

    span {

      font-family: "SourceSans",Helvetica,Arial,sans-serif;
      font-weight: 300;
      color: #ff8434;

    }

    cite {

      font-style: normal;

    }

  }

}

.contact {

  position: relative;
  overflow: hidden;

}

.map-pusher {

  overflow: hidden;
  position: relative;
  z-index: 9;
  width: 100%;
  background: url(../../img/contact.png),url(../../img/cover.jpg);
  background-repeat: no-repeat,repeat;
  background-position: center,top left;

  a {

    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;

  }

}

.map-tear {

  position: relative;
  z-index: 8;
  width: 100%;
  height: 13px;
  background: url(../../img/cover-top.png) repeat-x;

}

#googleMap {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}

.mailbox {

  width: 480px;
  background: white;
  position: absolute;
  z-index: 7;
  top: 200px;
  right: 50%;
  padding: 20px 0;
  -webkit-border-radius: 8px 0 8px 8px;
  -moz-border-radius: 8px 0 8px 8px;
  -ms-border-radius: 8px 0 8px 8px;
  -o-border-radius: 8px 0 8px 8px;
  border-radius: 8px 0 8px 8px;
  -webkit-box-shadow: 8px 8px 13px rgba(0,0,0,0.15),2px 1px 2px rgba(0,0,0,0.15),0 0 25px rgba(0,0,0,0.15);
  -moz-box-shadow: 8px 8px 13px rgba(0,0,0,0.15),2px 1px 2px rgba(0,0,0,0.15),0 0 25px rgba(0,0,0,0.15);
  -ms-box-shadow: 8px 8px 13px rgba(0,0,0,0.15),2px 1px 2px rgba(0,0,0,0.15),0 0 25px rgba(0,0,0,0.15);
  -o-box-shadow: 8px 8px 13px rgba(0,0,0,0.15),2px 1px 2px rgba(0,0,0,0.15),0 0 25px rgba(0,0,0,0.15);
  box-shadow: 8px 8px 13px rgba(0,0,0,0.15),2px 1px 2px rgba(0,0,0,0.15),0 0 25px rgba(0,0,0,0.15);

  form {

    margin: 0 0 20px;

  }

  fieldset {

    padding: 0;
    margin: 0;
    border: 0;

    margin-left: auto;
    margin-right: auto;
    width: 80%;

  }

  legend {

    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 64px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;

  }

  input, textarea {

    margin: 0;
    font-weight: 300;
    font-family: "SourceSans", sans-serif;
    width: 96%;
    min-height: 32px;

    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;

  }

  textarea {

    margin: 0;
    overflow: auto;
    font-weight: 300;
    font-family: "SourceSans", sans-serif;
    height: auto;

  }

  button {

    margin: 0;
    -webkit-appearance: button;
    font-weight: 300;
    font-family: "SourceSans", sans-serif;
    min-height: 32px;
    margin-top: 30px;

    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);

    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    &:hover {

      text-decoration: none;
      background-position: 0 -15px;
      -webkit-transition: background-position .1s linear;
      -moz-transition: background-position .1s linear;
      -o-transition: background-position .1s linear;
      transition: background-position .1s linear;
      color: #fff;
      background-color: #51a351;

    }

    &:active {

      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
      -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
      box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
      color: #fff;
      background-color: #51a351;

    }

    &:focus {

      outline-offset: -2px;

    }

  }

}

.social-btns {
  text-align: center;
}

.social {

  z-index: 6;
  position: absolute;
  left: 480px;
  width: auto;
  height: 50px;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
  -ms-box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
  -o-box-shadow: 1px 2px 3px rgba(0,0,0,0.44);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.44);

  &:hover i {

    opacity: 1;
    color: #eee;
    text-shadow: none;
    -webkit-transition: .18s margin-left;
    -moz-transition: .18s margin-left;
    -ms-transition: .18s margin-left;
    -o-transition: .18s margin-left;
    transition: .18s margin-left;

  }

}

.social i {

  opacity: .5;
  text-shadow: 0 1px 0 rgba(255,255,255,0.50),0 -1px 0 rgba(0,0,0,0.44);
  font-size: 19px;
  text-decoration: none;
  -webkit-transition: .08s margin-left;
  -moz-transition: .08s margin-left;
  -ms-transition: .08s margin-left;
  -o-transition: .08s margin-left;
  transition: .08s margin-left;

}

.phone-btn {

  top: 160px;
  background-color: #444;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
  background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);
  background-image: linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.22) 98%,rgba(0,0,0,0) 99%);

  i {

    color: #111;
    margin: 17px;
    margin-left: 5px;

  }

  &:hover i {

    margin-left: 20px;

  }

}

.mail-btn {

  top: 120px;
  background-color: #00ab5c;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);

  i {

    font-size: 18px;
    color: #006f00;
    margin: 17px;
    margin-left: 1px;
    margin-right: 18px;

  }

  &:hover i {

    margin-left: 19px;

  }

}

.pin-btn {

  top: 80px;
  background-color: #e22;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);

  i {

    color: #a22;
    margin: 17px;
    margin-left: 2px;
    margin-right: 19px;

  }

  &:hover i {

    margin-left: 17px;

  }

}

.twitter-btn {

  top: 40px;
  background-color: #4099ff;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);

  i {

    color: #2c58bc;
    margin: 17px;
    margin-left: 0;

  }

  &:hover i {

    margin-left: 17px;

  }

}

.fb-btn {

  top: 0;
  background-color: #3b5998;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image: linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);

  i {

    color: #153270;
    margin: 15px;
    margin-right: 24px;
    margin-left: 5px;

  }

  &:hover i {

    margin-left: 21px;

  }

}

.beam-me-up {

  position: fixed;
  z-index: 111;
  bottom: 10px;
  right: 30px;
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    opacity: .25;
    -webkit-transition: .2s opacity;
    -moz-transition: .2s opacity;
    -ms-transition: .2s opacity;
    -o-transition: .2s opacity;
    transition: .2s opacity;
  }

  i {

    height: 20px;

  }

  p {

    opacity: 0;
    font-size: 16px;
    margin: 0;
    -webkit-transition: .2s opacity;
    -moz-transition: .2s opacity;
    -ms-transition: .2s opacity;
    -o-transition: .2s opacity;
    transition: .2s opacity;

  }

}