//social links gradient

@mixin tab {

  background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image:    -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);
  background-image:         linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 2%,rgba(0,0,0,.11) 98%,rgba(0,0,0,0) 99%);

}

//multiple box shadows

@mixin box-shadow ( $shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false ) {
 $params: $shadow1;
  @if $shadow2
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-box-shadow:  $params  ;
     -moz-box-shadow:  $params  ;
          box-shadow:  $params  ;

}

//simple two color gradient

@mixin grad2($top, $bottom) {

  background-image:   -moz-linear-gradient(top,      $top 0%,$bottom 100%);
  background-image:-webkit-linear-gradient(top,      $top 0%,$bottom 100%);
  background-image:        linear-gradient(to bottom,$top 0%,$bottom 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}');

}

//single border radius

@mixin b-rad($tl, $tr, $br, $bl) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  border-radius: $tl $tr $br $bl;
}