// ================================== //
//               iPhone               //
// ================================== //


// Portrait / Landscape

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .detox, .clean {
    width: 100%;
  }
  .ico {
    width: 50%;
    margin: 0 25%;
  }

}

// Landscape

@media only screen and (min-width : 321px) {

  /* Styles */

}

// Portrait

@media only screen and (max-width : 320px) {

  /* Styles */

}


// ================================== //
//               iPad                 //
// ================================== //


// Portrait / Landscape
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .detox, .clean {
    width: 100%;
  }
  .ico {
    width: 50%;
    margin: 0 25%;
  }

}

// Landscape
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

/* Styles */

}

// Portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

/* Styles */

}


// ================================== //
//             Desktop                //
// ================================== //


// Desktops / Laptops
@media only screen and (min-width : 1224px) {

/* Styles */

}

// Large Screens
@media only screen and (min-width : 1824px) {

/* Styles */

}

// ================================== //
//              Retina                //
// ================================== //


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  body {

    font-size: 1.3em;

  }

}

// iPhone 4
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

/* Styles */

}




@media (max-width: 480px) { // Landscape phones and down

  .detox, .clean {
    width: 100%;
    a {
     display: block;
     margin: 8% 0;
     padding: 1.5em 2em;
    }
  }
  .ico {
    width: 50%;
    margin: 5% 25%;
  }

}

@media (max-width: 767px) { // Landscape phone to portrait tablet

  .detox, .clean {
    width: 100%;
    a {
     display: block;
     margin: 8% 0;
     padding: 1.5em 2em;
    }
  }
  .ico {
    width: 50%;
    margin: 5% 25%;
  }

}

@media (min-width: 768px) and (max-width: 979px) { // Portrait tablet to landscape and desktop

   .detox, .clean {
     width: 100%;
     a {
      display: block;
      margin: 8% 0;
      padding: 1.5em 2em;
     }
   }
   .ico {
     width: 50%;
     margin: 5% 25%;
   }

}

@media (min-width: 1200px) { // Large desktop

/*test*/

}